@charset "UTF-8";

table{
	border-collapse: separate;
 	border-spacing: 1px;
  	text-align: center;
  	line-height: 1.5;
 	margin: 20px 10px;
 	border:1px solid lightgray;
}

td{
	border:1px solid lightgray;
	border-collapse: collapse;
}

img{
	margin:auto;
	width:100px;
}
.tablehead{
	width: 155px;
 	padding: 10px;
  	background: #07f0a6;
}


