@charset "UTF-8";
 .main_frame {
	font-family: 'Nanum Pen Script', cursive;
	font-size:60px;
	margin:0 auto;
	
	/* 메인홈페이지 100펀딩 센터 맞춤 코드 */
	display: flex;
	justify-content: center;
	align-items: center;
 }
 a{
	text-decoration: none;
	color:black;
	font-weight: bold;	
 }
 .main_frame a:hover {
	color:grey;
}



