@charset "UTF-8";

span {
	display:inline;
}
h1 {
	display:inline;
	margin-top:0;
}

img{
	display:inline;
	
}

.content {
	display:inline;
}

.optBox{
	width:500px;
	display:inline;
}

.optBox:hover{
	background-color: yellow;
}

.price {
	float: right;
}

li {
	list-style: none;
}

.inputPrice {
	outline: none;
}