@charset "UTF-8";

.prj {
	margin-top:10px;
	width: 300px;
	height: 350px;
}

.prjImg{
	border-radius: 10px;
}

.border{
	height:500px;
}
.prjThumb{
	margin-top: 10px;
}

.prjThumb img {
	width: 300px;
	height: 300px;
	margin:auto;
}

.prjName{
	margin: 5px;
	height:50px;
}

ul{
	width:100%;
}

li{
	display:inline-block;
	margin:10px;
}
