<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_funding.mapper.BoardMapper">

	<resultMap type="Board" id="resBoard">
		<id property="boardNo" column="BoardNo" />
		<result property="boardTitle" column="BoardTitle" />
		<result property="boardContent" column="BoardContent" />
		<result property="boardDate" column="BoardDate" />
		<result property="boardReadCount" column="BoardReadCount" />
	</resultMap>


	<resultMap type="Board" id="AssociateResCategory" extends="resBoard">
		<association property="categoryNo"
			resultMap="proj21_funding.mapper.BoardCategoryMapper.resBC"></association>
	</resultMap>
	

	<sql id="selectSql">
		select boardNo, categoryNo, boardTitle, boardContent, boardDate, boardReadCount
		from Board
	</sql>

	<select id="selectBoardAll" resultType="Board" resultMap="AssociateResCategory">
		<include refid="selectSql" />
	</select>

	<select id="selectBoardByNo" resultMap="resBoard">
		<include refid="selectSql" />
		where boardNo = #{boardNo}
	</select>

	<select id="selectBoardByCNo" resultMap="AssociateResCategory">
		<include refid="selectSql" />
		where categoryNo = #{categoryNo.categoryNo}
	</select>

	<select id="selectBoardByTitle" resultMap="resBoard">
		<include refid="selectSql" />
		where boardTitle = #{boardTitle}
	</select>

	<insert id="insertBoard" parameterType="Board">
		insert into Board(categoryNo, boardTitle, boardContent )
		values(#{categoryNo.categoryNo}, #{boardTitle}, #{boardContent})
	</insert>

	<update id="updateBoard">
		update Board
		set categoryNo = #{categoryNo.categoryNo}, boardTitle = #{boardTitle}, boardContent = #{boardContent}
		where boardNo = #{boardNo}
	</update>

	<delete id="deleteBoard">
		delete
		from Board
		where boardNo = #{boardNo}
	</delete>
</mapper>