<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_funding.mapper.FundingInfoMapper">

	<resultMap type="FundingInfo" id="resFundingInfo">
		<id property="fundingNo" column="FundingNo"/>
		<result property="accountNo" column="AccountNo"/>
		<result property="payYn" column="PayYN"/>
		<result property="endYn" column="EndYN"/>
		<association property="prjNo" resultMap="proj21_funding.mapper.ProjectMapper.resProject"></association>
		<association property="optNo" resultMap="proj21_funding.mapper.PrjOptionMapper.resOption"></association>
		<association property="userNo" resultMap="proj21_funding.mapper.UserInfoMapper.resUser"></association>
	</resultMap>
	

	<!--해당프로젝트 후원자 수  -->
	<select id="selectCountByPrjNo" resultType="int">
	select count(*) as cnt
	  from fundinginfo f 
	  join prjoption o on o.optno= f.OptNo 
	 where f.prjno = #{prjNo};
	</select>
	
	<!-- 프로젝트리스트별 후원자수 -->
	<select id="selectCountGroupByPrjNo" resultType="int">
	select count(*) as cnt
	  from fundinginfo f 
	  join prjoption o on o.optno= f.OptNo 
	 where f.prjno = #{prjNo};
	</select>
	
	<!--해당프로젝트 총 모인 금액  -->
	<select id="selectSumByPrjNo" resultType="int">
	select sum(optPrice)
	  from fundinginfo f 
	  join prjoption o on o.optno= f.OptNo 
	 where f.prjno = #{prjNo};
	</select>
	
	<!-- 프로젝트리스트별 모인금액 -->
	<select id="selectSumGroupByPrjNo" resultType="int">
	select sum(optPrice)
	  from fundinginfo f 
	  join prjoption o on o.optno= f.OptNo 
	 group by f.prjNo;
	</select>
	
	<!--회원별 프로젝트 후원 현황 리스트  -->
	<select id="selectFundingInfoByUserNo" resultMap="resFundingInfo" parameterType="int">
		select f.prjNo,f.FundingNo ,p.PrjName ,o.optname, o.OptContent, 
				o.optprice,p.StartDate , p.EndDate , p.PayDate , p.EndYN ,f.PayYN
		  from fundinginfo f join project p on f.PrjNo = p.PrjNo join prjoption o on f.OptNo = o.OptNo
		 where f.userno = #{userNo.userNo}; 
	 </select>
	 
	 <!-- 테스트 -->
	<!--  <select id="select">
	select o.prjNo ,count(*),sum(optprice) 
			from fundinginfo f 
	  join prjoption o on o.optno= f.OptNo group by o.prjNo;
	</select> -->
</mapper>