<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_funding.mapper.ProjectJoinMapper">
	<resultMap type="ProjectJoin" id="resProjectJoin">
		<id property="prjNo" column="prjNo"/>
		<result property="prjManager" column="prjManager"/>
		<result property="prjName" column="prjName"/>
		<result property="prjContent" column="prjContent"/>
		<result property="prjGoal" column="prjGoal"/>
		<result property="startDate" column="startDate"/>
		<result property="endDate" column="endDate"/>
		<result property="payDate" column="payDate"/>
		<result property="endYn" column="endYn"/>
		<result property="optNo" column="optNo"/>
		<result property="optName" column="optName"/>
		<result property="optPrice" column="optPrice"/>
		<result property="optContent" column="optContent"/>
		<result property="fundingNo" column="fundingNo"/>
		<result property="sponsor" column="fundingUser"/>
		<result property="accountNo" column="accountNo"/>
		<result property="payYn" column="payYn"/>
		<result property="rate" column="rate"/>
		<result property="totalCount" column="totalCount"/>
		<result property="totalPrice" column="totalPrice"/>
		<result property="pCategoryNo" column="pCategoryNo"/>
		<result property="pCategoryName" column="pCategoryName"/>
	</resultMap>
	
	<select id="selectProjectJoinAll" resultMap="resProjectJoin">
	select p.prjno, if(sum(optPrice)>0,sum(optPrice),0) as totalPrice, p.Prjname, p.prjgoal, u.nickname as prjManager
			,count(fundingno) as totalCount, c.pcategoryno, c.pcategoryname, endDate, round(sum(optprice)/prjgoal*100,2) as rate
		  from fundinginfo f 
	      join prjoption o on o.optno= f.OptNo 
		  right join project p on p.prjno = f.PrjNo 
		  join userinfo u on p.userno = u.userno
		  join prjCategory c on p.pcategoryno = c.pcategoryno
		 group by p.prjNo;
	</select>
	
	<!-- 성공임박 -->
	<select id="selectProjectSuccessImbak" resultMap="resProjectJoin">
	select p.prjno, if(sum(optPrice)>0,sum(optPzzrice),0) as totalPrice, p.Prjname, p.prjgoal, u.nickname as prjManager
			,count(fundingno) as totalCount
		  from fundinginfo f 
	      join prjoption o on o.optno= f.OptNo 
		  right join project p on p.prjno = f.PrjNo 
		  join userinfo u on p.userno = u.userno
		 group by p.prjNo having sum(optprice)/PrjGoal*100>80;
	</select>
	
	<select id="selectProjectJoinByPrjName" resultMap="resProjectJoin" parameterType="String">
		select p.prjno, if(sum(optPrice)>0,sum(optPrice),0) as totalPrice, p.Prjname, p.prjgoal, u.nickname as prjManager
			,count(fundingno) as totalCount
		  from fundinginfo f 
	      join prjoption o on o.optno= f.OptNo 
		  right join project p on p.prjno = f.PrjNo 
		  join userinfo u on p.userno = u.userno
		  where prjName LIKE CONCAT('%', #{prjName}, '%')
		 group by p.prjNo;
	</select>
	
	<select id="selectProjectJoinByPrjManager" resultMap="resProjectJoin" parameterType="String">
		select p.prjno, if(sum(optPrice)>0,sum(optPrice),0) as totalPrice, p.Prjname, p.prjgoal, u.nickname as prjManager
			,count(fundingno) as totalCount
		  from fundinginfo f 
	      join prjoption o on o.optno= f.OptNo 
		  right join project p on p.prjno = f.PrjNo 
		  join userinfo u on p.userno = u.userno
		  where u.nickname LIKE CONCAT('%', #{prjManager}, '%')
		 group by p.prjNo;
	</select>
	
	<select id="selectProjectJoinByPrjNo" resultMap="resProjectJoin" parameterType="int">
	select p.prjno, if(sum(optPrice)>0,sum(optPrice),0) as totalPrice, p.Prjname, p.prjgoal, u.nickname as prjManager
			,count(fundingno) as totalCount
		  from fundinginfo f
	      join prjoption o on o.optno= f.OptNo 
		  right join project p on p.prjno = f.PrjNo 
		  join userinfo u on p.userno = u.userno
		  where p.prjNo = #{prjNo}
		 group by p.prjNo;
	</select>

	<select id="selectSumCountGroupByUserNo" resultMap="resProjectJoin">
			select u.userno,count(fundingno) as totalCount, if(sum(optprice)>0,sum(optprice),0) as totalPrice
				from userinfo u left join fundinginfo f on f.userno = u.userno 
				left join prjoption o on f.optno = o.optno
				group by u.userno;
	</select>
	
	<select id="selectSuccessProjectGroupByUserNo" resultMap="resProjectJoin">
	select u.userno as prjManager, count(prjno) as totalCount from userinfo u  left join(select if(isnull(sum(optprice)),0,sum(optprice)) as achieve, prjgoal, p.userno , p.prjno 
		from project p 
		left join fundinginfo f on p.prjno = f.prjno 
		left join prjoption o on f.optno = o.optno group by p.prjno having (achieve >prjgoal))as a on u.userno = a.userno group by u.userno;
	</select>
	
	<select id="selectProjectGroupByUserNo" resultMap="resProjectJoin">
	select count(p.prjno) as totalCount,u.userno as prjManager
		from project p right join userinfo u on p.userno = u.userno 
		group by u.userno; 
	</select>
	
	
</mapper>