<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_funding.mapper.ProjectMapper">
		<!-- property는 dto  column는 sql 컬럼 -->
<resultMap type="Project" id="resProject">
		<id property="prjNo" column="PrjNo"/>
		<result property="prjName" column="PrjName"/>
		<result property="prjContent" column="PrjContent"/>
		<result property="prjGoal" column="PrjGoal"/>
		<result property="startDate" column="StartDate"/>
		<result property="endDate" column="EndDate"/>
		<result property="payDate" column="PayDate"/>
		<result property="endYn" column="EndYN"/>
</resultMap>	

<!-- UserNo 추가하기 Associate로 -->
<resultMap type="Project" id="AssociateResUserInfo" extends="resProject">
	<association property="userNo" resultMap="proj21_funding.mapper.UserInfoMapper.resUser" ></association>
</resultMap>
 
	<select id="selectProjectListAll" resultType="Project" resultMap="AssociateResUserInfo">
		select PrjNo, UserNo, PrjName, PrjContent, PrjGoal,
		StartDate, EndDate,	PayDate, EndYN
		from project
	</select>	

 <insert id="insertProject" parameterType="Project">
		insert into project(
				UserNo, PrjName, PrjContent, PrjGoal, 
				StartDate, EndDate, PayDate) 
		values(
				#{userNo.userNo}, #{prjName}, #{prjContent}, #{prjGoal},
				now(), now(), now())
	</insert>

	<select id="selectProjectByNo" resultMap="AssociateResUserInfo">
		select PrjNo, UserNo, PrjName, PrjContent, PrjGoal,
		StartDate, EndDate,	PayDate, EndYN
		from project where prjNo = #{prjNo};
	</select>
</mapper>