<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_funding.mapper.PrjOptionMapper">
	
	<resultMap type="PrjOption" id="resOption">
		<id property="optNo" column="OptNo"/>
		<result property="optName" column="OptName" />
		<result property="optPrice" column="OptPrice"/>
		<result property="optContent" column="OptContent"/>
	</resultMap>
	
	<resultMap type="PrjOption" id="AssociateProject" extends="resOption">
		<association property="prjNo" resultMap="proj21_funding.mapper.ProjectMapper.AssociateResUserInfo"></association>
	</resultMap>
		
		
	<select id="selectPrjOptionByAll" resultType="PrjOption">
		select * from PrjOption
	</select>	
	
	
	<!--프로젝트리스트에서 클릭해서 들어가면 해당 프로젝트의 옵션까지 함께 표현  -->
	<select id="selectPrjOptionByPrjNo" resultMap="AssociateProject" parameterType="int">
			select p.prjNo,p.UserNo, PrjName, PrjContent, PrjGoal,
				StartDate, EndDate, PayDate, EndYN, u.UserId , u.UserName,
				o.OptNo, o.OptPrice,o.OptContent,o.optName
			from project p join userinfo u on p.userno = u.UserNo 
						   join prjoption o on p.PrjNo =o.PrjNo
			where o.prjNo = #{prjNo}
	</select>
	
		<!-- 옵션 등록1  -->
		<insert id="insertPrjOption">
			insert into prjoption 
					(prjno, OptName, OptPrice, OptContent)
			values 
					(#{prjNo.prjNo}, #{optName},  #{optPrice}, #{optContent})
		</insert>		
		
		<!-- 추가적인 아이템2 -->
		<insert id="insertAddPrjOption">
			insert into prjoption 
					(prjno, OptName, OptPrice, OptContent)
			values 
					(#{prjNo.prjNo}, #{addOptName},  #{addOptPrice}, #{addOptContent})
		</insert>		
		
		<!-- 프로젝트 옵션 수정 -->
		<update id="updatePrjOption">
			update prjoption 
				set OptName = #{optName}, OptPrice = #{optPrice}, OptContent = #{optContent}
			where OptNo = #{optNo}		
		</update>


</mapper>