<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_funding.mapper.ProjectJoinMapper">
	<resultMap type="ProjectJoin" id="resProjectJoin">
		<id property="prjNo" column="prjNo"/>
		<result property="prjManager" column="userName"/>
		<result property="prjName" column="prjName"/>
		<result property="prjContent" column="prjContent"/>
		<result property="prjGoal" column="prjGoal"/>
		<result property="startDate" column="startDate"/>
		<result property="endDate" column="endDate"/>
		<result property="payDate" column="payDate"/>
		<result property="endYn" column="endYn"/>
		<result property="optNo" column="optNo"/>
		<result property="optName" column="optName"/>
		<result property="optPrice" column="optPrice"/>
		<result property="optContent" column="optContent"/>
		<result property="fundingNo" column="fundingNo"/>
		<result property="sponsor" column="fundingUser"/>
		<result property="accountNo" column="accountNo"/>
		<result property="payYn" column="payYn"/>
		<result property="rate" column="rate"/>
		<result property="totalCount" column="totalCount"/>
		<result property="totalPrice" column="totalPrice"/>
		
	</resultMap>
	
	<select id="selectProjectJoinAll" resultMap="resProjectJoin">
	select p.prjno, if(sum(optPrice)>0,sum(optPrice),0) as totalPrice, p.Prjname, p.prjgoal, u.UserName
			,count(fundingno) as totalCount
		  from fundinginfo f 
	      join prjoption o on o.optno= f.OptNo 
		  right join project p on p.prjno = f.PrjNo 
		  join userinfo u on p.userno = u.userno
		 group by p.prjNo;
	</select>
</mapper>