<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_funding.mapper.UserInfoMapper">

	<resultMap type="UserInfo" id="resUser">
		<id property="userNo" column="userNo" />
		<result property="userId" column="userId"/>		
		<result property="userPw" column="userPw"/>		
		<result property="userName" column="userName"/>		
		<result property="nickName" column="nickName"/>		
		<result property="userPhone" column="userPhone"/>		
		<result property="zipCode" column="zipCode"/>		
		<result property="address" column="address"/>		
		<result property="detailAddress" column="detailAddress"/>		
		<result property="email" column="email"/>		
		<result property="bankName" column="bankName"/>		
		<result property="bankAccount" column="bankAccount"/>
		<result property="secession" column="secession"/>		
	</resultMap>

	<sql id="selecSql">
		select 
			UserNo, UserId, UserPw,	UserName, Nickname, UserPhone,
			ZipCode, Address, DetailAddress,
			Email, BankName, BankAccount
		 from userinfo
	</sql>

	<select id="selectUserAll" resultMap="resUser">
		<include refid="selecSql" />	
	</select>

	<select id="selectUserbyNo" resultMap="resUser">
		<include refid="selecSql" />
		where userNo = #{userNo}	
	</select>

	<select id="selectUserbyId" resultMap="resUser">
		<include refid="selecSql" />
		where userId = #{userId}	
	</select>
		
	<select id="selectUserbyNickname" resultMap="resUser">
		<include refid="selecSql" />
		where nickName = #{nickName}	
	</select>	
 
	<select id="selectUserbylogin" parameterType="UserLogin"  resultMap="resUser" >
		select 
			UserNo, UserId, UserPw,	UserName, Nickname, UserPhone,
			ZipCode, Address, DetailAddress,
			Email, BankName, BankAccount, secession
		 from userinfo 
		where userId = #{userId} and userPw = password(#{userPw})	
	</select>
	
	<select id="selectUserbySearchId" parameterType="UserInfo" resultMap="resUser">
		<include refid="selecSql" />
		where userName = #{userName} and email = #{email}	
	</select>
	
	<insert id="insertUser" parameterType="UserInfo">
		insert
		  into userinfo( UserId, UserPw, UserName, Nickname, UserPhone,
		 		 ZipCode, Address, DetailAddress, Email, BankName, BankAccount)
		values(#{userId}, password(#{userPw}), #{userName}, #{nickName}, #{userPhone},
			   #{zipCode}, #{address}, #{detailAddress}, #{email}, #{bankName}, #{bankAccount})			
	</insert>
	
	<update id="updateUser">
		update userinfo
		   set UserPhone = #{userPhone}, Nickname = #{nickName}, ZipCode = #{zipCode}, Address = #{address},
		    DetailAddress = #{detailAddress}, Email = #{email}, BankName = #{bankName}, BankAccount = #{bankAccount}
		 where userId = #{userId}
	</update>
	
	<update id="updateUserPw">
		update userinfo
		   set UserPw = password(#{userPw})
		 where userId = #{userId}	
	</update>	
	
	<update id="deleteUser">
		update userinfo
		   set secession = True
		 where UserNo = #{userNo}	
	</update>

</mapper>