@charset "UTF-8";

.container_tab{
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	border-collapse: collapse;	
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #dfdfdf;
	border-bottom: solid 4px #ffcece;
	color: #222;
}
.board_mid{	
	display: none;	 
	padding: 15px;
}
.board_mid.current{
	display: inherit;
	padding-bottom: 20px;
}

.board{
	margin-top: 30px;
}

#content{	
	white-space: nomal;
	overflow:hidden;
	word-wrap:break-word;
	display:-webkit-box;
	 -webkit-line-clamp:5;
	 -webkit-box-orient:vertical;
}

img{
	display: block;
	width:100px;	
	/* margin: 0 auto; */
	clip: rect();
}