@charset "UTF-8";
#mydetail_header{
	margin-bottom: 40px;
}
h2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	margin-bottom: 30px;
}
#detaillist_content{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
}
#btns{
margin-top:20px;
 text-align: center;	
}
td{
	text-align: center;
	padding: 5px;
}
.td_left{
	width: 150px;
}
.td_right{
	width: 380px;
}
#uploadfile{
	width: 380px;
	height: 270px;
}
/* 프로젝트 소개 */
 .col5 td:nth-of-type(2) {
	height: 270px;
}
/* 옵션 소개 */
 .col14 td:nth-of-type(2) {
	height: 270px;
}

