@charset "UTF-8";
#mid_first{	
	width: 900px;
	}
#mid_context1{		
	height: 240px;		
	/* 같이 움직이기 */
	width: 400px;
	
}
#mid_img{
	width: 500px;
	height: 430px;
	float: right;
	margin-left: 80px;
}
#mid_second{}
#mid_context2{
		/* 같이 움직이기 */
	width: 400px;
}