@charset "UTF-8";
h2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	margin-top: 40px;
	margin-bottom: 30px;
}
#table_all{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
}
/* 프로젝트 소개 스크롤  */
.sboption {
     width: 400px;
     height: 280px;
   	 overflow: auto;
}
     /*  스크롤바  */
 .sboption::-webkit-scrollbar{
     width: 7px;
     height: 7px;
     /* 스크롤바 확인 
     background-color: black;  */
}
/*메인 컬러  */
.sboption::-webkit-scrollbar-thumb{
	 background-color:#a9b9da;
    border-radius:10px;
}
.sboption::-webkit-scrollbar-track{
    background-color:#ffffff;
    box-shadow: inset 0px 0px 5px white;
}

/* 옵션 소개 스크롤  */
.sb2option {
     width: 400px;
     height: 100px;
   	 overflow: auto;
}
     /*  스크롤바  */
 .sb2option::-webkit-scrollbar{
     width: 7px;
     height: 7px;
     /* 스크롤바 확인 
     background-color: black;  */
}
/*메인 컬러  */
.sb2option::-webkit-scrollbar-thumb{
	 background-color:#a9b9da;
    border-radius:10px;
}
.sb2option::-webkit-scrollbar-track{
    background-color:#ffffff;
    box-shadow: inset 0px 0px 5px white;
}
tr{

}
td{
	text-align: center;
	padding: 5px;
}
.td_left{
	width: 150px;
	 background-color:#A5E3E6;
	 border-bottom: solid 2px  #A5E3E6;
	border-right:  solid 2px #A5E3E6;
}
.td_right{
	width: 380px;.
}
#userName, #optPrice, #optName, #prjName, #prjGoal{
	font-size: 15px;
}
#foot_btn{	
	margin-top:20px;
	text-align: center;	
}
/* 프로젝트 소개 */
 .col4 td:nth-of-type(2) {
	height: 270px;
}
/* 옵션 소개 */
 .col10 td:nth-of-type(2) {
}
