@charset "UTF-8";
h2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
#register_content{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
}
.td_left{}
.td_right{}

#register_btns{
	text-align: center;	
}

#startDate{}
#endDate{}
#payDate{}