@charset "UTF-8";
#table_all{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	margin-top: 50px;
}
#column{
}
th, td{
	padding-left:15px;
	padding-right:15px;
	text-align: center;
}
#context{
}

#foot_btn{	
	margin-top:30px;
	text-align: center;	
}
#go_list{
	
	
}
