@charset "UTF-8";
/* 탭 */
body{
	margin-top: 100px;
	line-height: 1.6
}
.container_tab{
	width: 650px;
	margin: 0 auto;
	margin-top: 20px;
	border-collapse: collapse;	
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #e0f3fe;	
	border-bottom: solid solid 2.5px #acd6ff; 
	color: #222;
}

.register_mid{	
	display: none;
	background: #e0f3fe;
	padding: 15px;
}

.register_mid.current{
	display: inherit;
	padding-bottom: 20px;
}	
/*탭 */

/*태이블  */
.update_table{
		border-collapse: collapse;		
}

h2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
#upload_prjcontent{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	margin-bottom: 50px;
}
#upload_opjcontent{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	flex-direction: column;
}
.td_left{
	width: 170px;
	 background-color:#d0eaff;
	border-bottom: 2px solid #acd6ff; 
	border-right: 1px solid #acd6ff; 
 	border-left: 1px solid #acd6ff; 
}
#info{
	border-top: 3px solid #acd6ff; 
	border-bottom: 2px solid #acd6ff; 
	background-color:#d0eaff;
}
#border_1{
	border-bottom: none;
}
.td_right{
	width: 330px;
}
td{
	text-align: center;
}
#textContent{
	font-size:20px;
	overflow: auto;
}
#pCategoryNo{
	width: 175px;
	font-size: 15px;
}
#prjNo, #userName, #optPrice, #optName, #prjName, #prjGoal{
	font-size: 15px;
}
.datepicker{
	font-size: 15px;
	width: 170px;
}
.options{
	background-color:#d0eaff;		
}
/*태이블  */

/*버튼  */
#tdoption_btns{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:20px;
	text-align: center;	
	border-bottom: 2px solid #acd6ff; 
}
#update_btns{
	margin-top:20px;
	text-align: center;	
}
#update_opjBtns{
	margin-top:20px;
	text-align: center;	
}
/*버튼  */
#MOVE_TOP_BTN {
    position: fixed;
    right: 2%;
    bottom: 50px;
    z-index: 999;
    border-color: #ccc;
    text-align: center;
    display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.42857143;
	border-radius: 4px;
	border-radius:50%;
	color:black;
	font-size:30px;
	width:50px;
	height:50px;
}
#MOVE_TOP_BTN:hover{
	background-color:#ccc;
	color:white;
}