@charset "UTF-8";
/* íƒ­ */
body{
	margin-top: 100px;
	line-height: 1.6
}
.container_tab{
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
	border-collapse: collapse;	
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #e4e4e4;
	color: #222;
}

.register_mid{	
	display: none;
	background: #e4e4e4;
	padding: 15px;
}

.register_mid.current{
	display: inherit;
}	
#update_btns{
	margin-top:20px;
	text-align: center;	
}