@charset "UTF-8";
h2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
#upload_prjcontent{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
}
