@charset "UTF-8";
/* 탭 */
body{
	margin-top: 100px;
	line-height: 1.6
}
.container_tab{
	width: 650px;
	margin: 0 auto;
	margin-top: 20px;
	border-collapse: collapse;	
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #dfdfdf;
	border-bottom: solid 4px #ffcece;
	color: #222;
}

.register_mid{	
	display: none;
	background: #dfdfdf;
	padding: 15px;
}

.register_mid.current{
	display: inherit;
	padding-bottom: 20px;
}	
/*탭 */

/*태이블  */
h2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 3px solid #ffcece;
}
#upload_prjcontent{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	margin-bottom: 50px;
}
#upload_opjcontent{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	flex-direction: column;
}
.td_left{
	width: 170px;
	border-bottom: 2px solid #ffcece;
	border-right: 1px solid #ffcece;
}
#info{
	border-top: 3px solid #ffcece;
	border-bottom: 3px solid #ffcece;
	background: 
}
#border_1{
	border-bottom: none;
}
.td_right{
	width: 330px;
}
td{
	text-align: center;
	padding: 5px;
}
#textContent{
	font-size:20px;
	overflow: auto;
}
#pCategoryNo{
	width: 175px;
	font-size: 15px;
}
#prjNo, #userName, #optPrice, #optName, #prjName, #prjGoal{
	font-size: 15px;
}
.datepicker{
	font-size: 15px;
	width: 170px;
}
/*태이블  */

/*버튼  */
#update_btns{
	margin-top:20px;
	text-align: center;	
}
#update_opjBtns{
	margin-top:20px;
	text-align: center;	
}
/*버튼  */
