@charset "UTF-8";

.context p {
	margin-left: 50px;
	margin-right: 50px;
	font-size: 0.875rem;
	color: #757575;
    line-height: 2;
    font-weight: 400;
}

#context_top {
	margin-top: 55px;
}

#context_bottom {
	margin-top: 40px;
}