@charset "UTF-8";
.header_menu{
	margin-top: 40px;
	margin-left: 33px;
}
.header_menu a{
	/* float:left; */
	margin-left: 20px;
	text-decoration: none;
	color:black;
	font-size: 18px;
	margin: o auto;

}